apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx-deploy
  name: nginx-deploy
  namespace: nextgenz
spec:
  selector:
    matchLabels:
      app: nginx-deploy
  strategy: {}
  template:
    metadata:
      labels:
        app: nginx-deploy
    spec:
      containers:
      - image: nginx:alpine
        name: nginx-deploy
        ports:
        - containerPort: 80
        resources: 
          requests:
            cpu: "100m"
            memory: "64Mi"
          limits: 
            cpu: "200m"
            memory: "128Mi"
status: {}
